@charset 'utf-8';
@import url(./my_reset.css);
:root {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  --main-c1: #7ca0d4;
  --point-c1: #f9d862;
  --sub-c1: #727071;
  --font-c1: #333;
  --mw: 1520px;
  --font-h2: 48px;
  --font-h3: 36px;
}

a {
  cursor: pointer;
}

button {
  border: none;
  background-color: transparent;
}

body {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  color: var(--font-c1);
  overflow-x: hidden;
}

img {
  width: 100%;
}

h2 {
  font-size: var(--font-h2);
  text-align: center;
}

.max_w {
  width: calc(100% - 2rem);
  max-width: var(--mw);
  margin: auto;
}

/* sec4 */

.sec4 {
  margin-bottom: 100px;
  position: relative;
}

.sec4 .md_con {
  width: 80%;
  margin: auto;
  position: relative;
}

.sec4 h2 {
  margin-bottom: 60px;
}

.sec4 .swiper-wrapper {
  margin-bottom: 76px;
}

.sec4 .md_list {
  width: 100%;
  border: 5px solid black;
  display: grid;
  grid-template-columns: repeat(4, minmax(calc(25% - 40px), 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 40px 40px;
}

.sec4 .main_feed {
  grid-column: span 2;
  grid-row: span 2;
}

.sec4 .md_list > * > * {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: #f2f6fb;
  position: relative;
}

.sec4 .md {
  padding: 30px 40px 30px 40px;
  position: relative;
}

/* .sec4 .desc {
  position: absolute;
  bottom: 5%;
} */

.sec4 .md p {
  border: 1px solid red;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.md p strong {
  font-weight: bold;
}

.md a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.sec4 .thumb {
  border: 5px solid cyan;
  margin-bottom: 10%;
}

.sec4 .thumb strong {
  font-weight: bold;
}

.md_btn {
  height: 60px;
  border-radius: 30px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 1;
}

.sec4 .md_btn .prev2 {
  left: 5rem;
}

.sec4 .md_btn .next2 {
  right: 5rem;
}

.sec4 .next2::after {
  width: 60px;
  height: 60px;
  color: transparent;
  background: url(../img/icon/next-sub-c.svg) no-repeat center;
  background-size: cover;
}

.sec4 .prev2::after {
  width: 60px;
  height: 60px;
  color: transparent;
  background: url(../img/icon/prev-sub-c.svg) no-repeat center;
  background-size: cover;
}

.sec4 .more {
  position: absolute;
  top: 2rem;
  right: 7%;
}

.sec4 .more a {
  font-size: 0.8rem;
  color: var(--sub-c1);
}

.sec4 .more::before {
  content: "";
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--main-c1);
  background-image: url(../img/icon/more.svg);
  position: absolute;
  right: -2rem;
  top: -0.1rem;
  transition: 0.3s;
  cursor: pointer;
}

.sec4 .more:hover::before {
  right: -2.5rem;
}

.sec4 .more:hover a {
  color: var(--font-c1);
}

.sec4 .swiper-scrollbar {
  height: 2px;
  margin-top: 76px;
  opacity: 1 !important;
}

.sec4 .swiper-scrollbar-drag {
  height: 4px;
  background-color: var(--main-c1);
}
